@CHARSET "UTF-8";

/* 
# martin.priebsch/sedo @2009-08-17
*/

/* Main navigation items */

div.contentbase {
	margin: 0 0 0 1px;
	position: relative;
	top: -4px;
}


#nav_box {
	background-color:transparent;
	width:964px;
	*margin-left:-1px;
}

#nav {
	background-color:transparent;
	display: inline-block;
	position:relative;
	z-index:997;
}

.last {
	border:0 none;
}


/********/

#main-nav-home-2,
#main-nav-home {
	background:#FFFFFF url(/fileadmin/images/03_general/sedo.sprites.png?ocv=20151216112353) repeat-x 0 -888px;
	height:35px;
	list-style:none;
	padding-left:0;
	position:relative;
	width:964px;
	font-size: 11px;
}

#main-nav-home.us,
#main-nav-home.uk,
#main-nav-home-2.de {
	padding-left:5px;
}

#main-nav-home.us892,
#main-nav-home.es,
#main-nav-home.de,
#main-nav-home.fr {
	background:0 none;
	height:auto;
}

#main-nav {
	list-style:none;
	padding:0;
	position:relative;
	width:964px;
}

#main-nav-home-2 .main-nav-item,
#main-nav-home-2 .main-nav-item-home-2,
#main-nav-home .main-nav-item,
#main-nav-home .main-nav-item-home,
#main-nav .main-nav-item,
#main-nav .main-nav-item-first {
	display: block;
	line-height: 24px;
	list-style: none;
	margin-right: 0;
	padding: 0;
	position: relative;
	float: left;
}

#main-nav-home-2 .main-nav-tab,
#main-nav-home .main-nav-tab,
#main-nav .main-nav-tab {
    background:url("/fileadmin/images/03_general/sedo.sprites.png?ocv=20151216112353") repeat-x scroll -1px -158px transparent;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    border-top:1px solid #FFFFFF;
    color:#FFFFFF;
    float:left;
    font-weight:bold;
    margin:0 1px;
    padding:0 9px 5px;
    position:relative;
    text-align:center;
    text-decoration:none;
    z-index:30;
    font-size: 11px;
}

#main-nav .main-nav-item-first .main-nav-tab {
    margin:0 1px;
    padding:0 9px 2px;
    position:relative;
    text-align:center;
    text-decoration:none;
    z-index:30;
}


#main-nav .main-nav-item-first:hover .main-nav-tab {
	background:none #FFFFFF;
	border-top:1px solid #BEBEBE;
	border-left:1px solid #BEBEBE;
	border-right:1px solid #BEBEBE;
	border-bottom:1px solid #BEBEBE;
	color:#012266;
}

#main-nav-home.us .main-nav-item-home .main-nav-tab.selected,
/*#main-nav-home-2.uk .main-nav-item-home-2 .main-nav-tab.selected,*/
#main-nav-home.uk .main-nav-item-home .main-nav-tab.selected,
#main-nav-home-2.de .main-nav-item-home-2 .main-nav-tab.selected {
	background:#FFFFFF none;
	border-top:1px solid #BEBEBE;
	border-left:1px solid #BEBEBE;
	border-right:1px solid #BEBEBE;
	border-bottom:1px solid #FFFFFF;
	color:#012266;
	float:left;
	font-weight:bold;
	padding:0 9px 4px 9px;
	text-align:center;
	text-decoration:none;
}

#main-nav-home-2 .main-nav-tab.selected,
#main-nav-home .main-nav-tab.selected,
#main-nav .main-nav-tab.selected {
	background:#6DAFDA url(/fileadmin/images/03_general/sedo.sprites.png?ocv=20151216112353) -1px -216px repeat-x;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}

#main-nav-home-2 .main-nav-item:hover .main-nav-tab,
#main-nav-home .main-nav-item:hover .main-nav-tab,
#main-nav .main-nav-item:hover .main-nav-tab {
	background:none #FFFFFF;
	border-top:1px solid #BEBEBE;
	border-left:1px solid #BEBEBE;
	border-right:1px solid #BEBEBE;
	color:#012266;
}

#main-nav-home-2 .main-nav-dd,
#main-nav-home .main-nav-dd,
#main-nav .main-nav-dd {
	background-color:#FFFFFF;
	border-bottom:2px solid #BEBEBE;
	border-left:1px solid #BEBEBE;
	border-right:1px solid #BEBEBE;
	border-top:1px solid #BEBEBE;
	display: none;
	left:0;
	position: absolute;
	top:29px;
	margin:0;
	padding:0;
	margin:0 1px;
	z-index:20;
}

#main-nav-home-2 .main-nav-item:hover .main-nav-dd,
#main-nav-home .main-nav-item:hover .main-nav-dd,
#main-nav .main-nav-item:hover .main-nav-dd {
    display:block;
}

#main-nav-home-2 .main-nav-dd-column,
#main-nav-home .main-nav-dd-column,
#main-nav .main-nav-dd-column {
	border-left:0;
	display:table-cell;
	float:left;
	min-width:125px;
	padding:0 10px 8px;
}

#main-nav-home-2 .main-nav-dd-column:first-child,
#main-nav-home .main-nav-dd-column:first-child,
#main-nav .main-nav-dd-column:first-child {
    border-left:0;
}

#main-nav-home-2 .main-nav-dd a,
#main-nav-home .main-nav-dd a,
#main-nav .main-nav-dd a {
	color:#012266;
	display:block;
	text-decoration:none;
	white-space: nowrap;
	font-size: 11px;
}

#main-nav-home-2 .main-nav-dd a:hover,
#main-nav-home .main-nav-dd a:hover,
#main-nav .main-nav-dd a:hover {
	text-decoration: underline;
}

#main-nav-home-2 .main-nav-dd ul,
#main-nav-home .main-nav-dd ul,
#main-nav .main-nav-dd ul {
	list-style: none;
	padding: 0;
}

#main-nav-home-2 .main-nav-dd hr,
#main-nav-home .main-nav-dd hr,
#main-nav .main-nav-dd hr {
	border: 1px dotted #ddd;
}

#navSearch #jqs_navigation_searchbox {
	background:url(/fileadmin/images/03_general/sedo.sprites.png?ocv=20151216112353) -1px -158px repeat-x;
	border-left:1px solid #fff;
	border-top:1px solid #FFFFFF;
	float:left;
	height:28px;
	line-height:24px;
	white-space:nowrap;
}

#navSearch input {
	background-color:#FFFFFF;
	border:1px solid #012266;
	color:#012266; 
	float:left;
	font-size:10px;
	height:14px;
	margin:5px 7px 0 6px;
	padding:0 0 0 10px;
	width:100px;
}

#navSearch #jqs_navigation_searchbox_submit {
	background:url(/fileadmin/images/03_general/sedo.sprites.png?ocv=20151216112353) -1px -16px no-repeat;
	border:0;
	color:#FFFFFF;
	cursor:pointer;
	float:left;
	font-size:10px;
	height:23px;
	line-height:20px;
	margin:0px;
	padding:2px 7px 0px 13px;
	text-decoration:none;
}

#navSearch #jqs_navigation_searchbox_submit:hover {
	text-decoration:underline;
}

div.thirdnavi {
	height:auto;
	left:0;
	left:90px;
	margin:0 auto;
	overflow:hidden;
	padding:0px;
	/*position:absolute;*/
	width:600px;
	z-index:99;
}
div.thirdnavi li {
	background:url(../img/thirdnavi_tableft.gif) left -24px no-repeat;
	display:block;
	float:left;
	line-height:24px;
	list-style:none;
	margin-right:3px;
	overflow:hidden;
	padding:0px;
}

div.thirdnavi li.selected { 
	background:url(../img/thirdnavi_tableft.gif) left top no-repeat; 
}

div.thirdnavi li a:link,
div.thirdnavi li a:visited {
	background:url(../img/thirdnavi_tabbase.gif) right -24px no-repeat;
	color:#fff;
	float:left;
	font-size:13px;
	font-weight:bold;
	line-height:24px;
	margin:0px 0px 0px 4px;
	padding:0px 10px 0 6px;
	text-decoration:none;
}

div.thirdnavi li a:hover,
div.thirdnavi li a:active,
div.thirdnavi li a:focus { 
	text-decoration:underline; 
}

div.thirdnavi li.selected a:link,
div.thirdnavi li.selected a:visited {
	background:url(../img/thirdnavi_tabbase.gif) right top no-repeat;
	color:#000;
	text-decoration:none;
}

div.thirdnavi li.selected a:hover,
div.thirdnavi li.selected a:active,
div.thirdnavi li.selected a:focus {
	background-color:transparent;
	text-decoration:none;
}

/* /Main navigation items */

/* Fourth Navigation */

ul#fourthnavi {
	background-color:transparent;
	background-image:url(/fileadmin/templates/sedo/gfx/navigation/fourth_navi_bg.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	float:left;
	font-size:93%;
	line-height:normal;
	list-style:none;
	margin:0;
	padding:10px 0 0 0;
	width:100%;
}

#fourthnavi li {
	display:inline;
	overflow:hidden;
}

#transfer_box {
	background-color:#fff;
	border-bottom:1px solid #90aed2;
	border-left:1px solid #90aed2;
	border-top:0;
	border-right:1px solid #90aed2;
	padding-top:15px;
}

#fourthnavi li a:link,
#fourthnavi li a:visited {
	background:#FFF url(/fileadmin/templates/sedo/gfx/tabs/tab_no.gif) no-repeat top right;
	border-bottom:1px solid #90aed2;
	color:#032161;
	display:block;
	float:left;
	font-size:10px;
	font-weight:normal;
	line-height:18px;
	margin-right:1px;
	overflow:hidden;
	padding:0;
	text-align:center;
	text-decoration:none;
	width:152px !important;
}

#fourthnavi li a:hover,
#fourthnavi li a:focus,
#fourthnavi li a:active {
	background:#E8EDF1 url(/fileadmin/templates/sedo/gfx/tabs/tab_ro.gif) no-repeat top right;
	color:#001266;
}

#fourthnavi li a:link span,
#fourthnavi li a:visited span {
	background:#E8EDF1 url(/fileadmin/templates/sedo/gfx/tabs/tab_no.gif) no-repeat top left;
	display:block;
	margin-right:5px;
	padding:5px 6px;
	text-align:center;
}

#fourthnavi li a:hover span,
#fourthnavi li a:active span,
#fourthnavi li a:focus span { 
	background:#E8EDF1 url(/fileadmin/templates/sedo/gfx/tabs/tab_ro.gif) no-repeat top left; 
}

#fourthnavi li.ui-tabs-selected a:link span,
#fourthnavi li.ui-tabs-selected a:visited span {
	background:#E8EDF1 url(/fileadmin/templates/sedo/gfx/tabs/tab_ro.gif) no-repeat top left;
	font-weight:bold;
}

#fourthnavi li.ui-tabs-selected a:link,
#fourthnavi li.ui-tabs-selected a:visited {
	background:#E8EDF1 url(/fileadmin/templates/sedo/gfx/tabs/tab_ro.gif) no-repeat top right;
	border-bottom:none;
	line-height:19px;
}

/* /Fourth Navigation */

/* Top-Navigation */

ul#topnav, #morelanguages {
	background:transparent;
	float:right;
	margin:4px 3px 0 0;
	font-size: 11px;
}

ul#morelanguages {
	margin-right:188px;
}

ul#topnav li, ul#morelanguages li {
	display:inline;
	line-height:15px;
	list-style:none;
	padding:0;
}

span.languageSep {
	background:transparent url(/fileadmin/images/03_general/sedo.sprites.png?ocv=20151216112353) 0 -8px no-repeat;
	display:inline-block;
	height:5px;
	width:5px;
}

ul#topnav li.first { 
	background:none !important; 
}

ul#topnav li.last, ul#morelanguages li {
	border-bottom:none;
	border-top:none;
}

ul#topnav li a, ul#morelanguages li a {
	color:#012266;
	font-size:10px !important;
	font-weight:normal;
	padding:0 2px;
	*padding:0 3px 0 8px;
	
}

#topnav li a:hover, ul#morelanguages li a:hover { 
	color:#228E05; 
}

/* /Top-Navigation */

/* ------------------------------------ */
 
/* Sitemap */

div#sitemap div div#navSitemap {
	background-color:transparent;
	float:left;
	font-size:11px;
	position:relative;
	z-index:997;
}

div#sitemap div div#navSitemap #main-nav-sitemap { 
	background:0 none !important;
	list-style:none;
	padding:0;
	position:relative;
	width:auto !important;
}

div#sitemap div div#navSitemap #main-nav-sitemap .main-nav-item {
	line-height:20px;
	list-style:none;
	padding:15px 0 15px 15px;
}

div#sitemap div div#navSitemap #main-nav-sitemap .main-nav-tab,
div#sitemap div div#navSitemap #main-nav-sitemap .main-nav-tab.selected  {
    background:0 none !important;
	border:0 none !important;
	color:#012266 !important;
    font-size:13px;
	font-weight:bold;
	text-decoration:none;
}

div#sitemap div div#navSitemap #main-nav-sitemap .main-nav-item-first {
	display:none;
}

div#sitemap div div#navSitemap .last {
	border:none 0;
}

div#sitemap div div#navSitemap #main-nav-sitemap .main-nav-dd {
	overflow:hidden;
}

div#sitemap div div#navSitemap #main-nav-sitemap .main-nav-dd li {
	float:left;
	padding-right:10px;
}

div#sitemap div div#navSitemap #main-nav-sitemap .main-nav-dd ul {
    list-style:none outside none;
    padding:0;
}

div#sitemap div div#navSitemap #main-nav-sitemap .main-nav-dd a {
    background: url("/fileadmin/images/03_general/sedo.sprites.png?ocv=T1323692666") no-repeat scroll -218px -280px transparent;
	color:#012266;
    display:block;
	font-size:11px;
	padding-left:12px;
    text-decoration:underline;
}

div#sitemap div div#navSitemap #main-nav-sitemap .main-nav-dd a:hover {
    background: url("/fileadmin/images/03_general/sedo.sprites.png?ocv=T1323692666") no-repeat scroll 0 -59px transparent;
	color:#228E05;
	padding-left:12px;
}