@font-face {
	font-family: "iconfont-cust";
	src: url('../assets/iconfont.eot'); /* IE9*/
	src: url('../assets/iconfont.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		 url('../assets/iconfont.woff') format('woff'), /* chrome、firefox */
		 url('../assets/iconfont.ttf') format('truetype'),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
		 url('../assets/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont-cust" !important;
	font-size: 28px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ret:before {
	content: "\e605";
}

.icon-close:before {
	content: "\e606";
	color: gray;
}

.icon-deposit:before {
	font-size: 13px;
	content: "\e607";
}

.icon-plus:before {
	content: "\e608";
}

.icon-domain:before {
	display: block;
	content: "\e609";
	height: 28px;
}

.icon-cart:before {
	content: "\e60a";
}

.icon-acount-in:before {
	content: "\e602";
}

.icon-acount-out:before {
	content: "\e612";
}

.icon-out:before {
	content: "\e601";
}

.icon-cashflow:before {
	content: "\e600";
}

.icon-check:before {
	content: "\e60b";
}

.icon-finance:before {
	content: "\e613";
}

.icon-my-info:before {
	content: "\e615";
}

.icon-wait-pay:before {
	content: "\e60f";
}

.icon-wait-transfer:before {
	content: "\e617";
}

.icon-wait-confirm:before {
	content: "\e603";
}

.icon-available-balance:before {
	content: "\e611";
}

.icon-account-balance:before {
	content: "\e618";
}

.icon-freeze-balance:before {
	content: "\e61e";
}

.icon-top2:before {
	content: "\e60e";
}

.icon-gift-money:before {
	content: "\e616";
	color: #7B7B7B;
}

.icon-gift-money-active:before {
	content: "\e616";
	color: #eb4f38;
}

.icon-personal:before {
	display: block;
	content: "\e60d";
	height: 28px;
}

.icon-auction:before {
	display: block;
	content: "\e610";
	height: 28px;
}

.icon-current-amount:before {
	content: "\e61b";
	color: #AE0000;
	position: absolute;
	z-index: -1;
	right: 15px;
	font-size: 34px;
}

.icon-auction-amount:before {
	content: "\e61b";
	color: #AE0000;
	position: absolute;
	font-size: 34px;
	top: 16px;
}

.icon-share:before {
	content: "\e619";
}

.icon-share-red-bag:before {
	color: #CE0000;
	content: "\e61a";
}

.icon-list:before {
	content: "\e614";
	position: absolute;
	top: -5px;
	left: 2px;
}

.icon-love:before {
	content: "\e61c";
	color: #eb4f38;
	height: 28px;
	position: relative;
	top: -5px;
}

.icon-loved:before {
	content: "\e61d";
	color: #eb4f38;
	height: 28px;
	position: relative;
	top: -5.666px;
}

.icon-cursor:AFTER {
	content: "\e60c";
	font-size: 19px;
	color: red;
	display: -webkit-box;
}

.icon-yuandian:before { 
	content: "\e604"; 
}

.icon-anquanshezhi:before { 
	content: "\e61f"; 
}

.icon-fenxiang1:before { 
	content: "\e624"; 
	color: #04BE02;
}

.icon-fenxiang2:before { 
	content: "\e621"; 
	color: #04BE02;
}

.icon-fenxiang3:before { 
	content: "\e623"; 
	color: #04BE02;
}

.icon-fenxiang4:before { 
	content: "\e622"; 
	color: #04BE02;
}

.icon-fenxiang5:before { 
	content: "\e620"; 
	color: #04BE02;
}

.icon-fenxiang6:before { 
	content: "\e625"; 
	color: #04BE02;
}

